<%= form_for @user, url: sessions_path, class: "form-group" do |form| %>
  <% if @errors %>
    <div id="error_explanation">
      <ul>
        <li>Invalid Email or password</li>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4"></div>
    <div class="col-md-4 col-md-offset-4">
      <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
      <%= form.password_field :password, class: "form-control" , placeholder: "Password"%>
      <div class="actions">
        <%= form.submit "Sign in", class: "form-control btn btn-success"%>
      </div>
    <%=link_to "forgot password", forgot_password_users_path, class: "btn" %>
    <br>
    <%=link_to "Sign up", new_user_path, class: "btn" %>
    </div>
  </div>
<% end %>
