<%= form_with(model: user, local: true, class: "form-group") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4"></div>
    <div class="col-md-4 col-md-offset-4">
      <% if action %>
        <%= form.text_field :email, class: "form-control", placeholder: "Email" %>
      <% end%>
      <%= form.password_field :password, class: "form-control" , placeholder: "Password"%>
      <br>
      <%= form.password_field :password_confirmation, class: "form-control" , placeholder: "Password confirmation"%>
      <br>
      <div class="actions">
        <% if action %>
          <%= form.submit "Sign up", class: "form-control btn btn-success"%>
          <%=link_to "Sign in", new_session_path, class: "btn" %>
        <% else %>
          <%= form.submit "Change password", class: "form-control btn btn-success" %>
        <%end%>
      </div>
    </div>
  </div>
<% end %>
