<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if action %>
    <%= form.label :email %>
    <%= form.text_field :email %>
    <br>
  <% end%>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation %>
  <br>
  <div class="actions">
    <% if action %>
      <%= form.submit "Sign up" %>
    <div>
      <%=link_to "Sign in", new_session_path %>
    </div>
    <% else %>
      <%= form.submit "Change password" %>
    <%end%>
  </div>
<% end %>
